/* Reset default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #6c3341;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}

header {
    background-color: #333;
    color: #424f1d;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #dd7a7a;
    font-weight: bold;
}

section {
    padding: 60px 0;
}

.project {
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #423958;
    color: #b1e3b3;
}
